.welcome {
  text-align: center;
  padding: 2rem;
  display: flex;
  height: 100%;
  place-items: center;
  justify-content: center;
  color: var(--white);
}

.title {
  font-size: 1rem;
  padding-bottom: 5rem;
}

.quote {
  font-size: 3.5rem;
  padding-bottom: 5rem;
  max-width: 360px;
}

.action {
  display: flex;
  justify-content: center;
}