.container {
  position: relative;
}

.track,
.progress {
  fill: transparent;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

.track {
  stroke: var(--gray-300);
}

.progress {
  stroke: var(--white);
}

/* children */
.children {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}